{% extends "base.html" %}

{% block title %}
{{ object.shortcode }} | {{ block.super }}
{% endblock title %}
{% block style %}


<style>
 body {

      {% if bg_image %}background-image: url({{ bg_image }});{% endif %}
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
</style>
{% endblock style %}
{% block content %}
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary ">

  <div class ="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Surl</a>
      </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Features</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Business</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Explorer</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Marketplace</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Pricing</a>
     </li>
     {% if user.is_authenticated  %}
      <li class="nav-item">
        <a class="nav-link" href="#">Welcome <strong>{{ user.username }} <strong></a>
      </li>
     {% else %}
     <li class="nav-item ">
       <a class="nav-link" href="/login">Sign in </a>
     </li>

       <li class="nav-item " >
         <span class="nav-link">or </span>
       </li>
       <li class="nav-item ">
         <a class="nav-link" href="/join">Sign up </a>
       </li>
       {% endif %}

    </ul>
</div>
 </nav>
<div class="container-fluid " style="margin-top: 15%;" align="center" >
  <div class="card alert alert-success col-lg-8 col-md-8 col-sm-12">
    <div class="card-header">
      <h1><strong>Success</strong></h1>
    </div>
    <div class="card-body">
      <p>{{ object.url }}</p>
      <!-- <p>Count {{object.clickevents.count}} </p> -->
      {% if object.clickevents.count %}
          <p>Count {{ object.clickevents.count }}</p>
      {% endif %}
      <p><a class='btn btn-default'  href='{{ object.get_short_url }}'>{{ object.get_short_url }}</a></p>
    </div>
      <div class="card-footer">
        <a class='btn btn-default' href='/'>
          <input class='btn btn-default col-12' type='submit' value=' New' >
        </a>
      </div>

      </div>
    <!-- </div>
<div class=''>
    <h1>Success!</h1>
    <p>Count {{object.clickevent.count}} </p>
    <p>{{ object.url }}</p>

    <p><a class='btn btn-link' href='{{ object.get_short_url }}'>{{ object.get_short_url }}</a></p>
    <a class='btn btn-default'  href='/'>+ New</a>
</div> -->

{% endblock content %}
