<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="container">
  <div class="col-sm-6 col-12">
  <h1>  {{ title }} </h1>
  <form method="POST" >{% csrf_token %}
    {{form.as_p}}
    <button type = "submit" class="btn btn-default ">Submit</button>

  </form>
  <!-- <form method="POST" >{% csrf_token %}
    <input type = "text" class = "form-control" placeholder = "name" name = "fullname">
    <input type = "email" class = "form-control" placeholder="email" name="email">
      <button type = "submit" class="btn btn-default ">Submit</button>

      <form> -->
</div>
<div>
