{% extends 'base.html' %}

{% block styles %}
<style>
body {
      background-color: #226268;
      {% if bg_image %}background-image: url({{ bg_image }});{% endif %}
      background-size: cover;

    }

.btn-link {
      color: #50dfec;
      text-shadow: none;
    }
    .btn-link:hover {
      color: #000000;
    }


}
</style>

{% endblock styles %}
{% block content %}


  <nav class="navbar navbar-expand-sm navbar-dark bg-primary ">

  <div class ="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Surl</a>
      </li>
     <li class="nav-item">
       <a class="nav-link" href="/tracurl">Features</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Business</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/tracurl">Explorer</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Marketplace</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Pricing</a>
     </li>
     {% if user.is_authenticated  %}
      <li class="nav-item">
        <a class="nav-link" href="/tracurl">Welcome <strong>{{ user.username }} <strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout"> <strong>Sign Out <strong></a>
      </li>
     {% else %}
     <li class="nav-item ">
       <a class="nav-link" href="/login">Sign in </a>
     </li>

       <li class="nav-item " >
         <span class="nav-link">or </span>
       </li>
       <li class="nav-item ">
         <a class="nav-link" href="/join">Sign up </a>
       </li>
       {% endif %}

    </ul>
</div>
 </nav>

<div class="container " style="margin-top: 15%;" align="center">
      <div class='row alert alert-Primary' >

        <div class='col-lg-6 col-md-8 col-lg-12'>
          <div class ='row-4'>
            <h1 class="cover-heading "><strong>{{ title }}</strong></h1>
          </div>
            <h4 class='lead'><strong>track and optimize every touchpoint with SURL</strong></h4>
        </div>
      </div>


     <div class='row '>
       <div class='col-lg-6 col-md-8 col-lg-12'>
         <form method='POST' action='.'> {% csrf_token %}
           <div class="col-lg-6">
             {{ form.as_p }}
           </div>
             <input class='btn btn-primary' type='submit' value='Shorten &raquo;' >


         </form>
       </div>
      </div>

</div>
{% endblock content %}
