<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<body>

  <nav class="navbar navbar-expand-sm navbar-dark bg-primary ">

  <div class ="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Surl</a>
      </li>
     <li class="nav-item">
       <a class="nav-link" href="/tracurl">Features</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Business</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/tracurl">Explorer</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Marketplace</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Pricing</a>
     </li>
     <li class="nav-item ">
       <a class="nav-link" href="#">Sign in </a>
     </li>

       <li class="nav-item " >
         <span class="nav-link">or </span>
       </li>
       <li class="nav-item ">
         <a class="nav-link" href="#">Sign up </a>
       </li>

    </ul>
</div>
 </nav>
<div class="container">
  <div class = "col">
    <div class="alert alert-light">
      <h1><strong>Join Surl</strong></h1>
        <p class="lead">The best way to track and optimize every touchpoint with , the world's leading link management platform</p>
    </div>
  </div>

  <div class = "col-lg-6 ">
    <div class="alert alert-light">
      <h5>  {{ title }} </h5>
      <form method="POST" >
        {% csrf_token %}
        {{form.as_p}}
        <button type = "submit" class="btn btn-default col-3">Create</button>

      </form>
    </div>
  </div>


</div>
<div>
