
{% load staticfiles %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<style>
 body {

      {% if bg_image %}background-image: url({{ bg_image }});{% endif %}
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
</style>
<body>
 <div class = 'container'>
  <!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">


   <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="surl.in">Surl</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="#">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">contacts</a>
      </li>
     </ul>

  </nav>  -->
</div>

<div class="container " align="center">
  <div class="col-sm-12 col-md-8 col-lg-6">
  <h1>  {{ title }} </h1>
  <div class = 'container'>
    <div class='col'>
      <div class ='row'>
        <div align="center">
            <!-- <img src="{% static 'img/s.jpg'%}"</img> -->
        </div>
        <div class='col-12' align='center'>
          <div class="alert  alert-light">

            <h4 class="font-weight-normal"><strong>Sign in to Surl</strong></h4>
          </div>
        </div>
      </div>
      <div class="card col">

        <div class="card-body">
          <form method="POST" action="/login" >
            {% csrf_token %}
            {{form.as_p}}
            <button type = "submit" class="btn btn-primary col-12">Sign in </button>
          </form>
        </div>
      </div>
      <p></p>
    <div class='card' align='center'>
      <div class="alert  alert-light">
        <p class = "card-body">New to Surl? <a href='http://surl.in/login'> Create an  account.</a>or <a href='http://127.0.0.1:8080/login' >forget password</a></p>
        </div>
    </div>

  </div>
</div>
</div>
</div>

</body>
  <!-- <form method="POST" >{% csrf_token %}
    <input type = "text" class = "form-control" placeholder = "name" name = "fullname">
    <input type = "email" class = "form-control" placeholder="email" name="email">
      <button type = "submit" class="btn btn-default ">Submit</button>

      <form> -->
