{% extends "base.html" %}

{% block title %}
{{ object.shortcode }} | {{ block.super }}
{% endblock title %}

{% block content %}
<div class=''>
    <h1>Exists Already</h1>
    <p>{{ object.url }}</p>
    {%  for i in object %}
    {% if i.clickevent_set.count %}
        <p>Count: {{ object.clickevent_set.count }}</p>
    {% endif %}
    {%  endfor  %}
    <p><a class='btn btn-link'  href='{{ object.get_short_url }}'>{{ object.get_short_url }}</a></p>
    <a class='btn btn-default' href='/'>+ New</a>
</div>
{% endblock content %}
