{% extends 'base.html' %}

{% block styles %}
<style>
body {
      background-color: #226268;
      {% if bg_image %}background-image: url({{ bg_image }});{% endif %}
      background-size: cover;

    }

.btn-link {
      color: #50dfec;
      text-shadow: none;
    }
    .btn-link:hover {
      color: #000000;
    }


}
</style>

{% endblock styles %}
{% block content %}

<div class="container " style="margin-top: 18%;">
      <div class='row' >

        <div class='col-lg-6 col-md-8 col-lg-12'>
          <div class ='row-4'>
            <h1 class="cover-heading">{{ title }}</h1>
          </div>
            <p class='lead'>track and optimize every touchpoint with MyURL</p>
        </div>
      </div>


     <div class='row '>
       <div class='col-lg-6 col-md-8 col-lg-12'>
         <form method='POST' action='.'> {% csrf_token %}
           <filedset >
             {{ form.as_p }}
             <input class='btn btn-primary' type='submit' value='Shorten &raquo;' >
           </filedset>

         </form>
       </div>
      </div>

</div>

{% endblock content %}
